In [1]:
#modules
import mysql.connector
import pandas as pd
from tabulate import tabulate

In [32]:
#Functions
#get columns names from table
def get_colnames(my_cursor, column_name):
    col_names = []
    try:
        query = "SELECT COLUMN_NAME FROM INFORMATION_SCHEMA.COLUMNS WHERE TABLE_SCHEMA = DATABASE() AND TABLE_NAME = \'{}\'".format(column_name) #selecting column names from provided table
        my_cursor.execute(query)
        my_result = my_cursor.fetchall()
        for result in my_result:
            col_names.append(result[0])
        return col_names
    except:
        print("Error")

In [35]:
#Reading data and saving to dataframe
def read_data(my_cursor, query, column_name):
    try:
        columns = get_colnames(my_cursor, column_name)
        my_cursor.execute(query)
        my_result = my_cursor.fetchall()
        pd_data = []

        for result in my_result:
            result = list(result)
            pd_data.append(result)
        return pd.DataFrame(pd_data, columns=columns)
    except:
        print("Error")

In [3]:
#connecting with database
database = mysql.connector.connect(
    host = "localhost",
    user = "root",
    passwd = "Agusia123.")

In [4]:
my_cursor = database.cursor()

In [5]:
my_cursor.execute("USE gravity_books")

In [13]:
my_cursor.execute("SELECT * FROM publisher LIMIT 10")

In [14]:
myresult = my_cursor.fetchall()

In [15]:
for i in myresult:
    print(i)

(1, '10/18')
(2, '1st Book Library')
(3, '1st World Library')
(4, 'A & C Black (Childrens books)')
(5, 'A Harvest Book/Harcourt Inc.')
(6, 'A K PETERS')
(7, 'AA World Services')
(8, 'Abacus')
(9, 'Abacus Books')
(10, 'Abacus Books (London)')

In [16]:
# Returns a list of lists and then creates a pandas DataFrame
pd_data = []

for result in my_result:
    result = list(result)
    pd_data.append(result)


columns = ["publisher_id", "publisher_name"]
df = pd.DataFrame(from_db, columns=columns)

In [33]:
test = get_colnames(my_cursor, 'book')

In [34]:
print(test)

['book_id', 'title', 'isbn13', 'language_id', 'num_pages', 'publication_date', 'publisher_id']

In [36]:
query = "SELECT * FROM publisher LIMIT 10"

In [37]:
test2 = read_data(my_cursor, query, 'publisher')

In [38]:
display(test2)

   publisher_id                 publisher_name
0             1                          10/18
1             2               1st Book Library
2             3              1st World Library
3             4  A & C Black (Childrens books)
4             5   A Harvest Book/Harcourt Inc.
5             6                     A K PETERS
6             7              AA World Services
7             8                         Abacus
8             9                   Abacus Books
9            10          Abacus Books (London)